*{
  margin: 0;
  padding: 0;
}

canvas{
  position: fixed;
  top: 0;
  left: 0; 
  
}

main{
  position: absolute;
  top: 0;
  z-index: 99;
  left: 0;
  padding: 5em;
}

p{
  line-height: 2;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 16pt;
  margin-bottom: 2em;
}